.corses-detail {
    background-color: #545454;
    margin-top: 60px;
    color: #c8c3bd
}
.icon-check {
    color: #fe4e11;
  
}
.des-icon-check {
    padding-bottom: 4px;
    
}
.right-courses-detail {
    background-color: #202020;
    text-align: center;
   
    padding: 50px 10px 50px 10px;
     border-radius: 15px;
}
.des-right-courses{
    margin-top: 12px;
    margin-bottom: 12px;
}
.icon-right-courses {
    color: #fe4e11;
}
.icon-play-post {
    color: #fe4e11;
    
}
.name-course-post{
    border-radius: 20px;
padding: 15px 10px 15px 10px;
border: 1px solid #fe4e11;
margin: 10px 0px 10px 0px;
}
.name-course-post a {
    color:  #c8c3bd;
    text-decoration: none;
    width: 100%;
}
.btn-courses-detail{
    padding: 6px 32px 6px 32px;
    border-radius: 15px;
    margin-bottom: 20px;
}